<header>
    <h2>Crear Usuario</h2>
</header> 
<section>
    <form [formGroup]="applyForm" (submit)="submitCreateUser()">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" />

        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />

        <label for="rol">Rol</label>
        <select name="role" formControlName="role">
            <option *ngFor="let rol of roles">{{rol}}</option>
        </select>

        <button type="submit" class="primary">Create User</button>
    </form>
</section>
<section>  
    <a [routerLink]="['']">Volver</a>
</section>